@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 175 50% 91%;
    --foreground: 224 71% 4%;

    --card: 175 50% 96%;
    --card-foreground: 224 71% 4%;

    --popover: 175 50% 96%;
    --popover-foreground: 224 71% 4%;

    --primary: 174 44% 51%;
    --primary-foreground: 0 0% 100%;

    --secondary: 175 40% 85%;
    --secondary-foreground: 224 71% 4%;

    --muted: 175 30% 88%;
    --muted-foreground: 224 71% 25%;

    --accent: 184 71% 59%;
    --accent-foreground: 224 71% 4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 175 30% 80%;
    --input: 175 30% 85%;
    --ring: 174 44% 51%;

    --radius: 0.5rem;

    --chart-1: 174 44% 51%;
    --chart-2: 184 71% 59%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-green: 140 50% 50%;
  }

  .dark {
    --background: 220 13% 10%;
    --foreground: 0 0% 98%;

    --card: 220 13% 14%;
    --card-foreground: 0 0% 98%;

    --popover: 220 13% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 174 44% 51%;
    --primary-foreground: 0 0% 10%;

    --secondary: 220 13% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 220 13% 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 184 71% 59%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 174 44% 51%;

    --chart-1: 174 44% 51%;
    --chart-2: 184 71% 59%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-green: 140 50% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
