@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;

    --card: 240 10% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 25 95% 53%;
    --primary-foreground: 0 0% 10%;

    --secondary: 240 5% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 5% 25%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 25 95% 53%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 25%;
    --input: 240 5% 25%;
    --ring: 25 95% 53%;

    --radius: 0.5rem;

    --chart-1: 25 95% 53%;
    --chart-2: 35 95% 58%;
    --chart-3: 15 90% 50%;
    --chart-4: 45 90% 55%;
    --chart-5: 5 90% 55%;
    --chart-green: 140 50% 50%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;

    --card: 240 10% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 25 95% 53%;
    --primary-foreground: 0 0% 10%;

    --secondary: 240 5% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 5% 25%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 25 95% 53%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 25%;
    --input: 240 5% 25%;
    --ring: 25 95% 53%;

    --chart-1: 25 95% 53%;
    --chart-2: 35 95% 58%;
    --chart-3: 15 90% 50%;
    --chart-4: 45 90% 55%;
    --chart-5: 5 90% 55%;
    --chart-green: 140 50% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
